@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './Mixens';

// colors
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Dark-Blue: hsl(213, 19%, 18%);
$Medium-Blue: hsl(214, 21%, 13%);
$Very-Dark-Blue: hsl(216, 12%, 8%);



* {
    font-family: 'Overpass', sans-serif;
}


.container {
    @include Position-And-Size(default , 350px , 350px);
    background: $Dark-Blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 , auto);
    border-radius: 20px;
    padding: 10px;
    .logo {
    @include Center(flex , center , start);
    padding: 5px 10px;
    .icon {
        @include Position-And-Size(default , 50px , 50px);
        @include Center(flex , center , center);
        background-color: $Medium-Blue;
        border-radius: 50%;
        img {
            width: 50%;
        }
    }
    }
    .title {
        @include Center(flex , center , start);
        padding: 5px 10px;
        font-weight: 700;
        color: $White;
    }
    .description {
        @include Center(flex , center , start);
        padding: 5px 10px;
        font-weight: 400;
        color: $Light-Grey;
    }
    .rate {
        @include Center(flex , center , space-around);
        padding: 5px 10px;
        .circle {
            @include Position-And-Size(default , 40px , 40px);
            @include Center(flex , center , center);
            background-color: $Medium-Blue;
            border-radius: 50%;
            margin: 0px 5px;
            color: $White;
            font-weight: 400;
            cursor: pointer;
            &:hover {
                background-color: $Medium-Grey;
            }
            &.active {
                background-color: orangered
            }
        }
    }
    .btn {
        @include Center(flex , center , space-around);
        padding: 5px 10px;
        button {
            width: 100%;
            height: 90%;
            border: none;
            border-radius: 20px;
            color: $White;
            background-color: orangered;
            font-weight: 700;
            font-size: 1rem;
            cursor: pointer;
            margin: 10px 0px;
            &:hover {
                background-color: $White;
                color: orangered;
            }
        }
    }

    .Thanks {
        @include Center(flex  , center , center);
        .image {
            @include Center(flex  , center , center);
            @include Position-And-Size(default , 100% , 110px);
            img {
                height: 100%;
            }
        } 
    }
    .result {
        @include Center(flex  , center , center);
        .rateResult {
            @include Position-And-Size(default , 220px , 30px);
            @include Center(flex  , center , center);
            background-color: $Medium-Blue;
            color: orangered;
            border-radius: 20px;
            font-size: 12px;
            font-weight: 400;
        }
    }
    .mess {
        @include Center(flex  , center , center);
        font-size: 25px;
        color: $White;
        margin-top: 10px;
    }
    .end {
        @include Center(flex  , center , center);
        text-align: center;
        grid-row: 4 / 6;
        color: $Light-Grey;
    }
}